@use "variables" as variables;
@use "mixins" as mix;

.exsel__header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 8px 4px 0;

  & .header__input {
    height: 20px;
    padding: 2px 7px;
    font-size: 18px;
    outline: none;
    color: variables.$color-grey_dark;
    border: 1px solid transparent;
    border-radius: 2px;

    &:hover {
      border: 1px solid variables.$color-grey;
    }

    &:focus {
      color: variables.$color-black;
      border: 1px solid variables.$color-blue;
    }
  }

  & .header__button {
    @include mix.button(red);
  }
}
